<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row" id="login">
                <div class="col-md-6 text-center">
                    <h1>
                        Corporation
                    </h1>
                    <h2>
                        Login
                    </h2>
                </div>
                <div class="col-md-6">
                    <form class="login-form text-center">
                        <label for="email" class="email-label">Email:</label>
                        <input type="text" id="email" name="email"><br><br>
                        <label for="password" class="password-label">Password:</label>
                        <input type="password" id="password" name="password"><br><br>
                        <input type="submit" value="Sign In">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>

