<div class="container-wrapper">
    <div class="title">
        <div class="row">
            <div class="col-md-12">
                <!-- Log out and return to log in screen-->
                <button type="button" class="btn logout-btn" id="minimal-btn">Log Out</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 id="title">Schedule</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-wrapper">
        <div class="container-fluid" id="menu">
            <div class="row">
                <div class="col-md-1">
            
                </div>
                <div class="col menu">
                    <h2> Week Of </h2>
                    <!-- Displays the first Sunday of the week currently selected -->
                    <h2 id="week-of"></h2>
                </div>
                <div class="col menu">
                    <h2> Department </h2>
                    <!-- Use Javascript to display the department selected in the drop down menu -->
                    <h2 id="department-name"> N/A </h2>
                </div>
                <div class="col menu">
                    <h2> Employee </h2>
                    <!-- Use Javascript to display the employee selected -->
                    <h2 id="employee-name"></h2>
                </div>
                <div class="col menu">
                    <h2> Hours Scheduled </h2>
                    <!-- Use Javascript to display how many hours this employee is scheduled so far -->
                    <!-- Will display red if scheduled for more hours than available -->
                    <h2> N/A </h2>
                </div>
                <div class="col menu">
                    <h2> Hours Available </h2>
                    <!-- Use Javascript to display how many hours this employee is available -->
                    <h2> N/A </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <!-- Publishes schedule -->
            <button type="button" class="btn btn-success btn-lg" id="publish-btn">
                Publish
            </button>
            <!-- Dropdown menu where manager selects which week to work on -->
            {{!-- <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    Week
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item disabled" href="#">Week</a> 
                    <a class="dropdown-item" href="#">Current Week</a> 
                    <a class="dropdown-item" href="#"> Next Week </a>
                </div>
            </div> --}}
            <!-- Dropdown menu where manager selects which department to work on -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    Dept.
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="department-dropdown">
                    {{!-- append departments here --}}
                </div>
            </div>
            <!-- Employees in the department selected above then appear below -->
            <div class="btn-group btn-group-vertical btn-group-md" role="group" id="employee-list">
                <!-- Manager clicks their button then clicks the grid to the right to assign them -->
                {{!-- this is where the employee names are added --}}
            </div>
        </div>
        <div class="col-md-11">
            <div class="container-wrapper-grid">
                <div class="container-fluid grid-container">
                    <!-- Day of week labels -->
                    <div class="row labels">
                        <div class="col grid-label">
                            <p id="sunday"></p>
                        </div>
                        <div class="col grid-label">
                            <p id="monday"></p>
                        </div>
                        <div class="col grid-label">
                            <p id="tuesday"></p>
                        </div>
                        <div class="col grid-label">
                            <p id="wednesday"></p>
                        </div>
                        <div class="col grid-label">
                            <p id="thursday"></p>
                        </div>
                        <div class="col grid-label">
                            <p id="friday"></p>
                        </div>
                        <div class="col grid-label">
                            <p id="saturday"></p>
                        </div>
                    </div>
                    <!-- Morning Shifts -->
                    <div class="row AM">
                        <div class="col grid-item" id="sunday-morning"></div>
                        <div class="col grid-item" id="monday-morning"></div>
                        <div class="col grid-item" id="tuesday-morning"></div>
                        <div class="col grid-item" id="wednesday-morning"></div>
                        <div class="col grid-item" id="thursday-morning"></div>
                        <div class="col grid-item" id="friday-morning"></div>
                        <div class="col grid-item" id="saturday-morning"></div>
                    </div>
                    <!-- Afternoon Shifts -->
                    <div class="row PM">
                        <div class="col grid-item" id="sunday-afternoon"></div>
                        <div class="col grid-item" id="monday-afternoon"></div>
                        <div class="col grid-item" id="tuesday-afternoon"></div>
                        <div class="col grid-item" id="wednesday-afternoon"></div>
                        <div class="col grid-item" id="thursday-afternoon"></div>
                        <div class="col grid-item" id="friday-afternoon"></div>
                        <div class="col grid-item" id="saturday-afternoon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="module" src="/javascript/manager.js"></script>