* {
    font-family: helvetica;
}

body {
    background-color: white;
}

h2 {
    font-size: 23px;
}

#minimal-btn {
    float: right;
    border: none;
}

div.title {
    text-align: center;
    color: white;
    background-color: rgb(77, 129, 179);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}

#menu {
    margin-bottom: 20px;
}

button.btn {
    color: white;
    background-color: rgb(77, 129, 179);
    border: 1px solid #2f3a37;
}

.container-wrapper {
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 30px;
}

.grid-container {
    display: grid;
    border: 1px solid black;
}

.grid-label {
    height: 10px;
    color: #34312a;
    background-color: rgba(77, 130, 179, 0.5);
    border: 1px solid black;
    padding: 25px;
    text-align: center;
}

.grid-item {
    height: 250px;
    background-color: rgba(77, 130, 179, 0.2);
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.menu {
    margin: auto;
    text-align: center;
}