body {
    background-image: url('/assets/images/andre-gorham-ii-Zn66S3MRgxM-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#minimal-btn {
    float: right;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.90); 
    color: black;
}


#login {
    background-color: rgba(255, 255, 255, 0.90);
    border: 2px solid rgba(0, 0, 0, 0.90);
    padding: 100px;
    margin-top: 100px;
}